name: m2-actions-test

on: [push]

jobs:
  magento2-build:
    runs-on: ubuntu-18.04
    name: 'm2 tests & build'
    services:
      mysql:
        image: docker://mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: magento
          MYSQL_DATABASE: magento
        ports:
          - 3106:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
      elasticsearch:
        image: docker://elasticsearch:7.1
        ports:
          - 9200:9200
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: 'launch magento2 unit test'
      if: ${{true}}
      uses: MAD-I-T/magento-actions@master
      env:
        COMPOSER_AUTH: ${{secrets.COMPOSER_AUTH}}
      with:
        php: '7.4'
        process: 'unit-test'
        elasticsuite: 1
    - name: 'launch magento2 static test'
      if: ${{true}}
      uses: MAD-I-T/magento-actions@master
      env:
        COMPOSER_AUTH: ${{secrets.COMPOSER_AUTH}}
      with:
        php: '7.4'
        process: 'static-test'
        elasticsuite: 1
    - name: 'phpcs testing'
      if: ${{false}}
      uses: MAD-I-T/magento-actions@master
      env:
        COMPOSER_AUTH: ${{secrets.COMPOSER_AUTH}}
      with:
        php: '7.4'
        process: 'phpcs-test'
        extension: 'Magento/CatalogSearch'
        standard: 'Magento2'
    - name: 'launch magento2 build'
      if: always()
      uses: MAD-I-T/magento-actions@master
      env:
        COMPOSER_AUTH: ${{secrets.COMPOSER_AUTH}}
      with:
        php: '7.4'
        process: 'build'
        elasticsuite: 1
    - name: 'launch magento2 zero downtime deploy'
      if: success()
      uses: MAD-I-T/magento-actions@master
      env:
        COMPOSER_AUTH: ${{secrets.COMPOSER_AUTH}}
        BUCKET_COMMIT: bucket-commit-${{github.sha}}.tar.gz
        MYSQL_ROOT_PASSWORD: magento
        MYSQL_DATABASE: magento
        HOST_DEPLOY_PATH: ${{secrets.STAGE_HOST_DEPLOY_PATH}}
        HOST_DEPLOY_PATH_BUCKET: ${{secrets.STAGE_HOST_DEPLOY_PATH}}/bucket
        SSH_PRIVATE_KEY: ${{secrets.STAGE_SSH_PRIVATE_KEY}}
        SSH_CONFIG: ${{secrets.STAGE_SSH_CONFIG}}
        WRITE_USE_SUDO: false
      with:
        php: '7.4'
        process: 'deploy-staging'
    - name: 'unlock deployer if fails'
      if: failure() || cancelled()
      uses: MAD-I-T/magento-actions@master
      env:
        COMPOSER_AUTH: ${{secrets.COMPOSER_AUTH}}
        BUCKET_COMMIT: bucket-commit-${{github.sha}}.tar.gz
        MYSQL_ROOT_PASSWORD: magento
        MYSQL_DATABASE: magento
        HOST_DEPLOY_PATH: ${{secrets.STAGE_HOST_DEPLOY_PATH}}
        HOST_DEPLOY_PATH_BUCKET: ${{secrets.STAGE_HOST_DEPLOY_PATH}}/bucket
        SSH_PRIVATE_KEY: ${{secrets.STAGE_SSH_PRIVATE_KEY}}
        SSH_CONFIG: ${{secrets.STAGE_SSH_CONFIG}}
        WRITE_USE_SUDO: false
      with:
        php: '7.4'
        process: 'cleanup-staging'

 # magento2-integration-test:
 #   runs-on: ubuntu-18.04
 #   name: 'm2 integration test'
 #   services:
 #     mysql:
 #       image: docker://mysql:5.7
 #       env:
 #         MYSQL_ROOT_PASSWORD: magento
 #         MYSQL_DATABASE: magento
 #       ports:
 #         - 3106:3306
 #       options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
 #     rabbitmq:
 #       image: docker://rabbitmq:3.6.6-alpine
 #       env:
 #         RABBITMQ_DEFAULT_USER: "magento"
 #         RABBITMQ_DEFAULT_PASS: "magento"
 #         RABBITMQ_DEFAULT_VHOST: "/"
 #       ports:
 #         - 5672:5672

 #   steps:
 #     - uses: actions/checkout@master
 #       with:
 #         submodules: recursive
 #     - name: 'launch magento2 integration test'
 #       uses: MAD-I-T/magento-actions@master
 #       env:
 #         COMPOSER_AUTH: ${{secrets.COMPOSER_AUTH}}
 #       with:
 #         php: '7.1'
 #         process: 'integration-test'
 #         elasticsuite: 0
