name: m2-actions-test

on: [push]

jobs:
  magento2-build:
    runs-on: ubuntu-18.04
    name: 'm2 tests & build'
    services:
      mysql:
        image: docker://mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: magento
          MYSQL_DATABASE: magento
        ports:
          - 3106:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
    - uses: actions/checkout@master
      with:
        submodules: recursive
    - name: 'launch magento2 unit test'
      if: always()
      uses: MAD-I-T/magento-actions@master
      env:
        COMPOSER_AUTH: ${{secrets.COMPOSER_AUTH}}
      with:
        php: '7.1'
        process: 'unit-test'
        elasticsuite: 0
    - name: 'launch magento2 static test'
      if: always()
      uses: MAD-I-T/magento-actions@master
      env:
        COMPOSER_AUTH: ${{secrets.COMPOSER_AUTH}}
      with:
        php: '7.1'
        process: 'static-test'
    - name: 'phpcs testing'
      if: always()
      uses: MAD-I-T/magento-actions@master
      env:
        COMPOSER_AUTH: ${{secrets.COMPOSER_AUTH}}
      with:
        php: '7.1'
        process: 'phpcs-test'
        extension: 'Magento/CatalogSearch'
        standard: 'Magento2'
    - name: 'launch magento2 build'
      if: always()
      uses: MAD-I-T/magento-actions@master
      env:
        COMPOSER_AUTH: ${{secrets.COMPOSER_AUTH}}
      with:
        php: '7.1'
        process: 'build'

 # magento2-integration-test:
 #   runs-on: ubuntu-18.04
 #   name: 'm2 integration test'
 #   services:
 #     mysql:
 #       image: docker://mysql:5.7
 #       env:
 #         MYSQL_ROOT_PASSWORD: magento
 #         MYSQL_DATABASE: magento
 #       ports:
 #         - 3106:3306
 #       options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
 #     rabbitmq:
 #       image: docker://rabbitmq:3.6.6-alpine
 #       env:
 #         RABBITMQ_DEFAULT_USER: "magento"
 #         RABBITMQ_DEFAULT_PASS: "magento"
 #         RABBITMQ_DEFAULT_VHOST: "/"
 #       ports:
 #         - 5672:5672

 #   steps:
 #     - uses: actions/checkout@master
 #       with:
 #         submodules: recursive
 #     - name: 'launch magento2 integration test'
 #       uses: MAD-I-T/magento-actions@master
 #       env:
 #         COMPOSER_AUTH: ${{secrets.COMPOSER_AUTH}}
 #       with:
 #         php: '7.1'
 #         process: 'integration-test'
 #         elasticsuite: 0
